
.sol-green { background-color: #050; }
.navbar-brand { font-size: 0px; }
img#logo { height: 50px; }
img.img-logo { height: 0.8em; margin-top: -0.25em; }
.nav-link { color: rgba(255,255,255,.8) }
.nav-link:hover { color: rgba(255,255,255,1) }

body { padding-top: 90px; padding-bottom: 40px; background-color: #efe; }
footer#footer  { background-color: #050; padding-top: 5px;}
